html {
  height: 100vh;
}

body {
  background-color: rgb(221, 221, 103);
  font-family: "Kalam", cursive;
  height: 100vh;
}

h1 {
  color: #dd6767;
  text-align: center;
  font-size: calc(20px + 3vh);
  line-height: 6vh; 
  background-color: #941717;
  height: 5vh;
}

h3 {
  font-size: calc(12px + 2vh);
  margin-top: 2vh;
  margin-bottom: 0.5vw;
  margin-left: 0.5vw;
}

label {
  font-size: calc(7px + 1.5vh);
  cursor: default;
  display: flex;
  align-self: center;
  margin-left: 1vw;
  margin-bottom: 0vw;
}

.box {
  display: flex;
  flex-direction: column;
  border: solid black 2px;
}

#scheduleBox {
  position: absolute;
  top: 5vh;
  height: 57vh;
  width: 100vw;
}

#goalsBox {
  margin-right: -2px;
  width: 50vw;
}

#todoBox {
  width: 50vw;
}

#bottom {
  position: absolute;
  top: 62vh;
  display: flex;
  flex-direction: row;
  height: 38vh;
  width: 100vw;
  margin-top: -2px;
}

.bar {
  display: flex;
  flex-direction: row;
  align-items: center;
}

#scheduleBar {
  height: 5.7vh;
  margin: 0.1vh;
}

#goalsBar {
  margin-right: -2px;
  height: 3.8vh;
  margin: 1vh;
}

#todoBar {
  margin-left: 0vw;
  height: 3.8vh;
  margin: 1vh;
}

.itemContainer {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-items: center;
}

.btn {
  font-size: calc(10px + 0.5vw);
  background-color: #941717;
  border-color: #941717;
  position: relative;
  left: 1vw;
  right: 1vw;
  outline: none;
  border-radius: 0vw;
}

.btn-group button:hover {
  background-color: #a31b1b;
}

.extraMargin {
  margin-left: -1vw;
  margin-right: 1vw;
}

#edit {
  border-right: 1px solid black;
}

#delete {
  border-left: 1px solid black;
}

input[type="text"] {
  background-color: rgb(168, 168, 75);
  border-color: rgb(168, 168, 75);
  font-size: calc(10px + 0.5vw);
  border-radius: 1em;
  outline: none;
  height: calc(1.5em + 0.5vh);
  width: calc(10px + 12vw);
  margin-left: 0.5vw;
  margin-right: 0.5vw;
}

input[type="checkbox"] {
  -webkit-appearance: none;
  outline: none;
  height: 1em;
  width: 1em;
  border: 1px solid black;
  color: black;
  background-color: rgb(168, 168, 75);
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05),
  inset 0em -0.75em 0.5em -0.6em rgba(0, 0, 0, 0.05);
  display: inline-block;
  position: relative;
  vertical-align: middle;
}

input[type="checkbox"]:checked:after {
  content: "\2714";
  position: absolute;
  height: 1em;
  width: 1em;
  line-height: 1em;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

.addedElements {
  display: flex;
  flex-direction: row;
  align-items: center;
  font-size: calc(10px + 0.5vw);
  height: auto;
  margin: 0.5vh;
}
